<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academicsystem.mapper.UserMapper">
    <resultMap id="userMap" type="com.example.academicsystem.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="active" column="active"/>
        <result property="studentId" column="student_id"/>
        <result property="teacherId" column="teacher_id"/>
    </resultMap>

    <select id="findByUsernameAndRole" resultMap="userMap">
        SELECT * FROM sys_user WHERE username=#{username} AND role=#{role}
    </select>

    <update id="updatePassword">
        UPDATE sys_user SET password=#{password} WHERE username=#{username}
    </update>
</mapper>
